.container {
  text-align: center;
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  border: 3px solid rgb(84, 88, 122);
  margin: 50px;
  padding: 50px;
}

div, h2{
  color: rgb(219, 9, 9);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 500
}


.whole-drum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  margin: 50px auto;
  width: min-content;
}


.drum-pad {
  width: 100px;
  height: 100px;
  border: 2px solid #917b96;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  color: blue;
  font-size: 22px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.drum-pad:active {
  transform: translate(4px, 4px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.drum-pad:hover {
  background: linear-gradient(145deg, #a54c9e, #539191);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}
